.about {
    background-color: $white;
    padding: 50px;
    .two-col{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        width: 100px;
        height: 100px;      
        border-radius: 50%; 
        margin-right: 5%;
        @include mq(em(400)){
            width: 120px;
            height: 120px;  
        }
        @include mq(em(650)){
            width: 150px;
            height: 150px;
        }
    }
    ul {
        list-style-type: none;
    }
    .my-skills{
        font-size: 16px;
        @include mq(em(400)){
            font-size: 18px;
        }
        @include mq(em(650)){
            font-size: 20px; 
        }  
    }
    .about-me{
        margin: 0 auto;
        margin-top: 20px;
        @include mq(em(400)){
            width: 90%;
        }
        @include mq(em(800)){
            width: 60%;
            max-width: 1000px;
        }
    }
}