header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 40px;
    z-index: 999;
    align-items: center;
    background-color: transparent;
    position: relative;
    background: $black;
    img {
        width: 50px;
    }
    button {
        margin: 0 auto;
    }
    .burger-menu {
        .burger_hamburger__21cuQ {
            margin: 0 auto;
        }
        @include mq(em(700)){
            display: none;
        }
    }
}