header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 40px;
    z-index: 999;
    align-items: center;
    background-color: transparent;
    position: relative;
    background: $black;
// background: -moz-linear-gradient(270deg, rgba(255,226,177,0.6432948179271709) 0%, rgba(255,125,125,0.665703781512605) 100%);
// background: -webkit-linear-gradient(270deg, rgba(255,226,177,0.6432948179271709) 0%, rgba(255,125,125,0.665703781512605) 100%);
// background: linear-gradient(270deg, rgba(255,226,177,0.6432948179271709) 0%, rgba(255,125,125,0.665703781512605) 100%);
// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffe2b1",endColorstr="#ff7d7d",GradientType=1);
    img {
        width: 50px;
    }
    button {
        margin: 0 auto;
    }
    .burger-menu {
        .burger_hamburger__21cuQ {
            margin: 0 auto;
        }
        @include mq(em(700)){
            display: none;
        }
    }
}