 nav {
    width: 100%;
    text-align: right;
    
    @include mq(em(700)){
        width: 500px;
    }

    &.display-menu {
        ul {
            display: block;
            position: absolute;
            right: 0;
            padding: 10px 40px 10px 20px;
        }
    }
    ul {
        @include flatten(true, false);
        display: none;
        background-color: $black;
        @include mq(em(700)){
            display: flex;
        }
    }
    a {
        position: relative;
        text-transform: uppercase;
        font-weight: 700;
        color: $lightRed;
        z-index: 99;
        &:after {
            position: absolute;
            content: "";
            height: .1em;
            top: 100%;
            background: $greyred;
            z-index: -1;
            left: 0;
            right: 0;
            transform: scaleX(0);
            transition: transform .5s cubic-bezier(.95, .05, .795, .035);
        }
          
        &:hover::after {
            transition-timing-function: cubic-bezier(.19, 1, .22, 1);  
            transform: scaleX(1);
        }
    }
    li {
        padding: 10px;
        @include mq(em(700)){
            flex: 1;
        }
    }

}