.projects{
    background-color: $greyred;
    color: $black;
    width: 100%;
    padding: 30px 30px;
    .project-item{
        padding: 30px 0;
        border-bottom: 1px dotted $lightRed;
        &:last-child{
            border: none;
        }
        @include mq(em(700)){
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .title-cont{
            @include mq(em(700)){
                margin-right: 50px;
            }
            h3 {
                color: $darkRed;
                font-size: 24px;
                @include mq(em(1000)){
                    margin: 0 auto;
                }
                text-align: center;
                margin: 10px 0 10px 0;
                
            }
            img{
                width: 500px;
                display: block;
                margin: 0 auto;
            }
        }
        .project-overview{
            @include mq(em(700)){
                width: 80%;
            }
            @include mq(em(900)){
                width: 40%;
            }
            
        }
        .btn-container{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
}