// App Style Settings

// Colors
$black: #290000;
$white: #ffffff;
$darkRed: #8b0000;
$red: #cf0000;
$lightRed: #da9b9b;
$grey: #959595;
$greyred: #ebe5e5;
$mailColor: #D44638;
$linkedinColor: #2867B2;
$githubColor: #6e5494;

// Type
$bodyFont: 'Noto Sans', sans-serif;

// Layout
$section-padding: em(16) em(20);