// App Style Settings

// Colors
$black: #110000;
$white: #ffffff;
$darkRed: #520000;
$red: #cf0000;
$lightRed: #d05b5b;
$grey: #959595;

// Type
$bodyFont: 'Noto Sans', sans-serif;

// Layout
$section-padding: em(16) em(20);